<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
    />
    <link rel="stylesheet" href="assets/css/styles.min.css" />
  </head>

  <body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top navbar-custom">
      <div class="container">
        <a class="navbar-brand" href="#">Hurricano</a
        ><button
          data-toggle="collapse"
          class="navbar-toggler"
          data-target="#navbarResponsive"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"></li>
            <li class="nav-item"></li>
          </ul>
          <a
            class="btn btn-primary"
            role="button"
            href="./about.html"
            target="_blank"
            >About Us</a
          ><a class="btn btn-primary" role="button" href="./features.html"
            >Features</a
          ><a class="btn btn-primary" role="button" href="./commands.html"
            >Commands</a
          >
        </div>
      </div>
    </nav>
    <header class="text-center text-white masthead">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">Hurricano<br /></h1>
          <h2 class="masthead-subheading mb-0">The Best Discord Bot in 2021</h2>
          <a
            class="btn btn-primary btn-xl rounded-pill mt-5"
            role="button"
            href="https://hurricanobot.github.io/features"
            >Learn More</a
          >
        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img
                class="rounded-circle img-fluid"
                src="assets/img/discord.png"
              />
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Build a great discord server!</h2>
              <p>
                We give you all the settings, and features to create the
                greatest discord server. Try building one and we'll give you
                success guaranteed!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <img
                class="rounded-circle img-fluid"
                src="assets/img/musicNote.jpg"
              />
            </div>
          </div>
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <h2 class="display-4">Engage in fun</h2>
              <p>
                We have music commands, so that you and your server have nothing
                to lose and
                <strong
                  >music to enjoy. We have learnt that the more fun your
                  community has, the bigger it grows!</strong
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img
                class="rounded-circle img-fluid"
                src="assets/img/chartUp.jpg"
              />
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Grow your community</h2>
              <p>
                Hurricano can grow your community with it's fantastic features
                can grow <strong>your server. </strong>We can track how much
                users chat and level them up with roles and perks.&nbsp;
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="text-center text-white m-0 small">
          Copyright&nbsp;© HurricanoBot 2021
        </p>
      </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
